version: 2
updates:
- package-ecosystem: "composer"
  directory: "/"
  schedule:
    interval: "weekly"
    day: "monday"
    time: "04:00"
  groups:
    major-updates:
      update-types:
        - "major"
    prod-dependencies:
      dependency-type: "production"
      update-types:
        - "minor"
        - "patch"
    dev-dependencies:
      dependency-type: "development"
      update-types:
        - "minor"
        - "patch"

- package-ecosystem: "npm"
  directory: "/"
  schedule:
    interval: "weekly"
    day: "monday"
    time: "03:00"
  groups:
    major-updates:
      update-types:
        - "major"
    prod-dependencies:
      dependency-type: "production"
      update-types:
        - "minor"
        - "patch"
    dev-dependencies:
      dependency-type: "development"
      update-types:
        - "minor"
        - "patch"
