@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.link {
    @apply underline;
}

#post-content {
    @apply text-xl font-serif leading-9;
}

#post-content p {
    @apply mb-6;
}

#post-content a {
    @apply link;
}

#post-content a[href^="https://"]:after,
#post-content a[href^="http://"]:after {
    @apply ml-1;
    content: url("data:image/svg+xml,%3Csvg width='14' height='14' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/%3E%3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
    #post-content a[href^="https://"]:after,
    #post-content a[href^="http://"]:after {
        content: url("data:image/svg+xml,%3Csvg fill='white' width='14' height='14' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/%3E%3C/svg%3E");
    }
}

#post-content h2, #post-content h3, #post-content h4 {
    @apply font-sans font-bold mb-2;
}

#post-content h2 { @apply text-2xl; }
#post-content h3 { @apply text-xl; }
#post-content h4 { @apply text-xl; }

#post-content ul, #post-content ol {
    @apply ml-6 mb-6;
}

.code-styles {
    @apply font-normal bg-gray-50 dark:bg-gray-900 border border-indigo-100 dark:border-indigo-900 rounded;
}

#post-content code, code.inline {
    @apply code-styles text-base box-decoration-clone before:content-[''] after:content-[''] px-2 py-0.5;
}

#post-content pre {
    @apply code-styles px-4 py-2 mb-6 lg:-mx-8;
}

#post-content pre code.hljs {
    background: none;
    padding: 0;
}

#post-content pre code {
    @apply border-none;
}

.footnotes {
    @apply text-gray-500 dark:text-gray-300
}

.footnotes hr {
    @apply my-6 dark:border-gray-700
}

.footnotes ol {
    @apply list-decimal mb-4
}

.footnotes p {
    @apply mb-2
}

.footnote-ref:before {
    content: '['
}

.footnote-ref:after {
    content: ']'
}
